/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 80px;
    padding: 0 30px !important;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}
header .logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0px;
}
header nav a {
    margin-left: 10px;
}

/* contents */
.container {
    max-width: 1280px;
}
.content-wrap {
    padding-top: 120px;
    padding-bottom: 100px;
}
.content:not(:first-child) {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #cecece;
}
.content-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}
.content-title-sub {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* buttons */
.btn {
    transition: all .13s;
}
.btn:hover {
    opacity: 80%;
}
.btn-wrap.submit {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.btn-wrap.submit .btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 0 5px;
}
.btn-wrap.submit .btn-outline-dark:hover,
.btn-wrap.login .btn-outline-dark:hover {
    color: #212529;
    background-color: #fff;
    border-color: #212529;
}
.btn-wrap.login .btn {
    margin-left: 5px;
}

.top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff !important;
    background-color: #212529;
    border-radius: 5px;
}

/* product list */
.product-list {
    margin-top: 15px;
}
.product-list .card {
    transition: box-shadow .3s;
    border: none;
    user-select: none;
}
.product-list .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product-list .card img {
    height: 300px;
    object-fit: cover;
}
.product-list .card img:hover {
    cursor: pointer;
}
.product-list .card a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: color .05s;
}
.product-list .card a:hover {
    color: deepskyblue;
}
.product-list .card-body .card-text {
    text-align: right;
    line-height: 14px;
    font-size: 14px;
    margin-top: 10px;
}
.product-list .card-body .card-text span {
    font-weight: 600;
}