/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 80px;
    padding: 0 30px !important;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}
header .logo {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0px;
}
header nav a {
    margin-left: 10px;
}

/* contents */
.container {
    max-width: 1280px;
}
.content-wrap {
    padding-top: 120px;
    padding-bottom: 100px;
}
.content:not(:first-child) {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #cecece;
}
.content-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}
.content-title-sub {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* buttons */
.btn-wrap.submit {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.btn-wrap.submit .btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 0 5px;
}
.btn-wrap.submit .btn-outline-dark:hover,
.btn-wrap.login .btn-outline-dark:hover {
    color: #212529;
    background-color: #fff;
    border-color: #212529;
}
.btn-wrap.login .btn {
    margin-left: 5px;
}

/* product list */
#cards-box {
    margin-top: 15px;
}
#cards-box div div{
    min-width: 200px;
}
#cards-box div div:hover:not(:nth-child(2)) {
    box-shadow: 0 0 0 3px deepskyblue;
}
#cards-box div div img {
    height: 300px;

    object-fit: cover;
}
#cards-box div div div a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;

    font-weight: bold;
}
#cards-box div div div p {
    margin-top: 10px;
}