/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 999;
}
header .logo {
    font-size: 36px;
    font-weight: 700;
}
header nav a {
    margin-left: 10px;
}

/* contents */
.container {
    max-width: 1280px;
}
.content-wrap {
    padding-top: 120px;
}
.content:not(:first-child) {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #cecece;
}
.content-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}