<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>빨리바바 | 상품 상세</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/get.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/sub.css"/>

    <script>
        $(document).ready(function () {
            show_product();
        });

        const pathname_id = window.location.pathname.split('/')[2];

        function show_product() {
            $.ajax({
                type: 'GET',
                url: '/products',
                success: function (response) {
                    const rows = response['products'];

                    rows.forEach(function (row) {
                        const _id = row['_id'];

                        if (_id === pathname_id) {
                            const modify_btn = `<button type="button" class="btn btn-dark modify-link" onclick="window.location.href='/product_modify'">상품정보 수정</button>`;
                            const delete_btn = `<button type="button" class="btn btn-danger" onclick="delete_product('${_id}')">상품 삭제</button>`;

                            $('#product-top-btns').append(modify_btn);
                            $('#product-top-btns').append(delete_btn);

                            row['bid_list'].forEach(function (bid) {

                                const temp_html = `
                                    <li>
                                        <div class="user-info">
                                            <p class="user-id">${bid['user_id']}</p>
                                            <p>${bid['bid_price'].toLocaleString('ko-KR')}원</p>
                                        </div>
                                    </li>
                                `;

                                $('#bid-list').prepend(temp_html);

                                if (row['is_open'] === 0) {
                                    $('#product-name').text(`[경매 종료] ${row['product_name']}`);
                                    $('#bid-input').attr('disabled', true);
                                    $('#bid-btn').attr('disabled', true);
                                    $('#flag').text('낙찰 확정');
                                    $('#choice-btn').attr('disabled', true);
                                }
                            });
                        }
                    });
                    const choice_btn = `<button type="button" id="choice-btn" class="btn btn-dark" onclick="choice_bid('${pathname_id}')">낙찰</button>`;
                    const flag = '<span id="flag">낙찰 후보</span>';
                    $('#bid-list li:first-of-type .user-info').append(flag);
                    $('#bid-list li:first-of-type').append(choice_btn);
                },
                data: {}
            });
        }

        function post_bidlist() {
            const bid_price = $('#bid-input').val();
            const price_status = $('#price-status');

            if (parseInt(bid_price) > parseInt($(price_status).text().replace(',', ''))) {
                $.ajax({
                    type: 'POST',
                    url: '/products/bidlist',
                    data: {pathname_give: pathname_id, price_give: bid_price},
                    success: function (response) {
                        alert(response['msg']);
                        $(price_status).text(`${response['price_status']}원`);
                        window.location.reload();
                    }
                });
            } else {
                alert('현재 입찰가보다 높은 금액을 입력해주세요.');
            }
        }

        function choice_bid(_id) {
            $.ajax({
                type: 'POST',
                url: '/products/bidlist/choice',
                data: {_id_give: _id},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                }
            });
        }

        function delete_product(_id) {
            $.ajax({
                type: 'POST',
                url: '/products/delete',
                data: {_id_give: _id},
                success: function (response) {
                    alert(response['msg']);
                    window.location.href = '/';
                }
            });
        }

    </script>
</head>


<body>

    <header class="container-fluid">
        <a href="/" class="logo">빨리바바</a>
        <nav>
            <a href="/signin_page">로그인</a>
            <a href="/signup_page">회원가입</a>
        </nav>
    </header>

    <div class="container content-wrap sub">
        <div class="content product-info">
            <div class="content-title-wrap mb-5">
                <h1 id="product-name" class="content-title mb-0">{{ product['product_name'] }}</h1>
                <div id="product-top-btns" class="btn-wrap d-flex">
                    <button type="button" class="btn btn-dark" onclick="window.location.href='/'">목록</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 img-box">
                    <img id="product-img" src="{{ product['product_image'] }}" alt="" />
                </div>
                <div class="col-md-7 px-4 d-flex flex-column justify-content-between">
                    <div>
                        <h3 class="content-title-sub">상품 설명</h3>
                        <p id="product-desc">{{ product['product_desc'] }}</p>
                    </div>
                    <div>
                        <h4 class="content-title-sub d-flex justify-content-between mb-4">
                            <span>최초 입찰가</span>
                            <span id="start-price">{{ product['start_price'] }}원</span>
                        </h4>
                        <h3 class="content-title-sub d-flex justify-content-between">
                            <span>입찰가 현황</span>
                            <span id="price-status">{{ product['price_status'] }}원</span>
                        </h3>
                        <div class="input-group mt-5">
                            <span class="input-group-text">입찰하기</span>
                            <input type="number" id="bid-input" class="form-control" placeholder="현재 입찰가보다 높은 금액을 입력해주세요."/>
                            <button class="btn btn-dark" type="button" id="bid-btn" onclick="post_bidlist()">입찰</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content bid-wrap">
            <ul id="bid-list"></ul>
        </div>
    </div>
</body>
</html>