<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/get.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>

    <title>빨리바바</title>

    <script>
        $(document).ready(function () {
            listing();
        });

        function listing() {
            $.ajax({
                type: 'GET',
                url: '/products',  //url 이름 바꿔야함
                data: {},
                success: function (response) {
                    let rows = response['products']
                    for (let i = 0; i < rows.length; i++) {
                        // let category = rows[i]['category']
                        let product_name = rows[i]['product_name'];
                        let product_desc = rows[i]['product_desc'];
                        let start_price = rows[i]['start_price'];
                        let product_image = rows[i]['product_image'];
                        let user_id = rows[i]['user_id'];
                        let user_name = rows[i]['user_name'];
                        let user_phone = rows[i]['user_phone'];

                        let num = Number(start_price);
                        let price = num.toLocaleString('ko-KR');

                        let temp_html = `
                            <div class="col">
                                <div class="card">
                                    <img onclick="location.href='#'" src="${product_image}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <a class="card-title" href="#" class="card-title">${product_name}</a>
                                        <p class="card-text"><span>최초 입찰가</span> ${price}원</p>
                                        <p class="card-text"><span>입찰가 현황</span> ${price}원</p>
                                    </div>
                                </div>
                            </div>
                        `;
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function posting() {
            let url = $('#url').val()
            let star = $('#star').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/movie',
                data: {url_give: url, star_give: star, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }
    </script>
</head>
<body>

    <header class="container-fluid">
        <a href="/" class="logo">빨리바바</a>
        <nav>
            <a href="/signin_page">로그인</a>
            <a href="/signup_page">회원가입</a>
        </nav>
    </header>

    <div class="container content-wrap main">
        <div class="content all-items">
            <h1 class="content-title">모든 상품</h1>
            <div class="item-list mt-3">
            <div class="btn-wrap d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-dark" onclick="window.location.href='/product_post'">상품 등록</button>
            </div>
                <div class="row row-cols-1 row-cols-md-4 g-4 product-list" id="cards-box"></div>
            </div>
        </div>
    </div>


</body>
</html>